.button 
    display: inline-block
    // border: 3px solid #aaaebc
    border-radius: 4px
    padding: 0px 0px
    text-align: center

.header-buttons
    padding: 8px

.header-buttons .button
    margin-right: 8px
    min-width: 100px
    padding: 8px 0px

.button-primary
    border: 0
    background: #47cf73
    color: black
.button-secondary 
    border: 0
    background: #444857
.card-footer .button-secondary
    border: 0
    background: #444857
    padding: 5px 15px

.button-outline
    display: inline-block
    border: 3px solid #aaaebc
    border-radius: 4px
    padding: 0px 0px
    text-align: center
    padding: 5px 10px