
/*header part*/
.button-primary
  background-color: green  
  border-radius: 5px
  padding: 5px 10px

.button-second
  background-color: grey  
  border-radius: 5px
  padding: 5px 10px
  margin-left: 0