/*hero left part*/
.hero-body-description-content
  display: flex
  justify-content: center
  margin-left: 150px
  flex-direction: column
  text-align: left
  
.hero-body-description-text
  display: flex
  align-items: center
  flex-direction: column
  text-align: left
  margin: 0 300px 0 150px


/*hero right part*/
.hero-body-image-card
  background-color: #3a394f
  display: flex
  flex-direction: column
  // margin-top:0px 
  margin-left: 700px
  width: 450px
  border-radius: 5px
  .code-card-html 
  padding-left: 20px
  padding-top:0px
  .code-card-scss
  padding-left: 20px
  padding-top:0px


.hilight-yellow
  color: yellow
.hilight-orange
  color: orange
.hilight-green
  color: green
.hilight-purple
  color:purple
.hilight-blue
  color: blue
