@use '../variable' as v
@use '../mixin' as m

.sidebar 
    background: v.$weak-black
    @include m.sm
        display: none
.codepen-logo
    text-align: center

.get-start-text
    margin:0.2em
    font-size: 10px
    text-align: center
    color: v.$lightgray

.button-logo
  margin: 0 16px
  border: 3px solid transparent
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b)
  width: 154px
  padding: 0

.button-logo-text
  display: block
  background: v.$black
  padding: 8px
  width:100%
  &:hover
    background-color: v.$black
    cursor: pointer

.sidebar-menu-sub-list
 margin-bottom: 16px
.sidebar-menu-title 
 font-size: 0.8rem
 margin-bottom: 0.2rem
 margin-left: 16px
.sidebar-menu a 
  display: block
  padding-left:16px
  &:hover
    background-color: v.$black
    cursor: pointer



  
